<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Controle de Doramas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DoramasControl.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Meus Doramas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" text-light" asp-area="" asp-controller="Doramas" asp-action="Index">Doramas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" text-light" asp-area="" asp-controller="Doramas" asp-action="Kdramas">Notícias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" text-light" asp-area="" asp-controller="Doramas" asp-action="Sobre">Sobre</a>
                        </li>
                        
                    </ul>
                    <form class="d-flex">
                        <input type="text" id="searchInput" class="form-control" placeholder="Digite o nome do Dorama">
                        <button type="button" id="btnSearch" class="btn btn-primary">Procurar</button>
                       

                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div id="resultContainer"></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Controle de Doramas by NandoDevs - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Adicione este script após o jQuery -->
    <script>
        $(document).ready(function () {
            $("#btnSearch").click(function () {
                // Obtém o valor da barra de busca
                var query = $("#searchInput").val();

                // Faz a chamada à API
                $.ajax({
                    url: "https://kuryana.vercel.app/search/q/" + query,
                    method: "GET",
                    success: function (data) {
                        // Verifica se a propriedade 'results' existe e se há dramas na resposta
                        if (data.results && data.results.dramas) {
                            // Pega a primeira entrada na lista de dramas (supondo que seja o que você quer)
                            var drama = data.results.dramas[0];

                            // Verifica se a propriedade 'title' existe no objeto retornado
                            if (drama && drama.title !== undefined) {
                                // Exemplo de exibição em uma div
                                $("#resultContainer").html(
                                    "<img src='" + drama.thumb + "' alt='Thumb'>" +
                                    "<br>Nome: " + drama.title +
                                    "<br>Ano: " + drama.year +
                                    "<br>Tipo: " + drama.type
                                );
                            } else {
                                console.log("A propriedade 'title' não foi encontrada nos dados da API.");
                            }
                        } else {
                            console.log("Não foram encontrados dramas nos dados da API.");
                        }
                    },
                    error: function (error) {
                        console.log("Erro na chamada da API: " + error);
                        // Adicione lógica para lidar com erros, se necessário
                    }
                });
            });
        });
    </script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
