<title>@ViewData["Title"] - Dashboard</title>

<h1 class="text-white" style="align-items:center">Dashboard dos Doramas</h1>
<iframe title="Sales-Dashboard" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=f449ddfd-4448-46b1-af6b-b902bcb55644&autoAuth=true&ctid=df35106d-be5c-4c99-8af6-70bfa08247fc" frameborder="0" allowFullScreen="true"></iframe>