<div class="slider" >
    <div class="slide">
		<div class="container">
			<div class="col-md-50 col-md-offset-1 text-center slider-text">
				<div class="slider-text-inner">
					<h2 class="align-text-bottom text-light">Alquimia das Almas - Parte 1</h2>
					<p><a href="https://v.mydramalist.com/298/29858c81fe45027d55d1d2c79841ab9a.mp4" target="_top" class="btn btn-primary btn-lg">Trailer</a></p>
				</div>
			</div>
		</div>
    </div>
    <div class="slide">
		<div class="container">
			<div class="col-md-50 col-md-offset-1 text-center slider-text">
				<div class="slider-text-inner">
					<h2 class="align-text-bottom text-light">Alquimia das Almas - Parte 1</h2>
					<p><a href="https://v.mydramalist.com/298/29858c81fe45027d55d1d2c79841ab9a.mp4" target="_top" class="btn btn-primary btn-lg">Trailer</a></p>
				</div>
			</div>
		</div>
	</div>
    <div class="slide">
		<div class="container">
			<div class="col-md-50 col-md-offset-1 text-center slider-text">
				<div class="slider-text-inner">
					<h2 class="align-text-bottom text-light">Alquimia das Almas - Parte 1</h2>
					<p><a href="https://v.mydramalist.com/298/29858c81fe45027d55d1d2c79841ab9a.mp4" target="_top" class="btn btn-primary btn-lg">Trailer</a></p>
				</div>
			</div>
		</div>
	</div>
    <div class="slide">
		<div class="container">
			<div class="col-md-50 col-md-offset-1 text-center slider-text">
				<div class="slider-text-inner">
					<h2 class="align-text-bottom text-light">Alquimia das Almas - Parte 1</h2>
					<p><a href="https://v.mydramalist.com/298/29858c81fe45027d55d1d2c79841ab9a.mp4" target="_top" class="btn btn-primary btn-lg">Trailer</a></p>
				</div>
			</div>
		</div>
	</div>
    <div class="slide">
		<div class="container">
			<div class="col-md-50 col-md-offset-1 text-center slider-text">
				<div class="slider-text-inner">
					<h2 class="align-text-bottom text-light">Alquimia das Almas - Parte 1</h2>
					<p><a href="https://v.mydramalist.com/298/29858c81fe45027d55d1d2c79841ab9a.mp4" target="_top" class="btn btn-primary btn-lg">Trailer</a></p>
				</div>
			</div>
		</div>
	</div>
</div>