@model List<CarouselItem>

<div class="carousel-container">
    <div class="carousel">
        @foreach (var item in Model)
        {
            <div class="carousel-item">
                <img src="@item.Imagem" alt="@item.Titulo">
                <div class="carousel-title">@item.Titulo</div>
                <div class="carousel-rating">Classificação: @item.Classificacao</div>
            </div>
        }
    </div>
</div>

<script src="~/js/carousel.js"></script>
