<h1>Notícias sobre Doramas</h1>
<div class="container">
    <form class="d-flex">
        <input type="text" id="searchInput" class="form-control" placeholder="Digite o nome do Dorama">
        <button type="button" id="btnSearch" class="btn btn-primary">Procurar</button>
    </form>
</div>