body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

    .carousel img {
        width: 150px;
        height: auto;
        margin: 10px;
    }

.carousel-item {
    text-align: center;
}

.carousel-title {
    font-size: 16px;
    font-weight: bold;
}

.carousel-rating {
    font-size: 14px;
    color: #888;
}
